* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

img {
    border: 1px soldid  #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

nav {
    display: flex;
    background-color: #d8a47f;
}

nav p {
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}

aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20ps;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}