* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: black;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img {
    border: 1px soldid  #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}